body{    background-color: rgb(255,255,200);}
#logohold {

    margin-top: 0;
    width: 5.85vw;
    position: fixed;
    margin-left: 1%;
    -webkit-transition: margin-top 1s, margin-left 1s;
    transition: margin-top 1s, margin-left 1s;

}

#logo1{
    width: 100%;
}

#title {
   
    width: 100%;
    font-family: subcl;
    font-size: .95vw;
    text-align: center;
    color: black;
    margin-top: 1%;
    display: inline;
    line-height: 1.5vw;
}

#titleholder {width: 16%;
    display: inline-block;
    margin-left: 42%;
    margin-top: 7%;
    overflow: hidden;}

#logo{width:1.45vw;
    float: left;
    margin-top: 1%;}


#name{color:red;}

.iconlinks{
font-family: subcl;
    width: 25%;
    height: 1.75vw;
    margin-left: 5%;
cursor:pointer;}

.skillsmodalA{
    color: darkslategray;
    text-align: left;
    font-family: subcl;
    font-size: .8vw;
    position: fixed;
    margin-left: -30%;
    margin-top: 3%;
    -webkit-transition: margin-top 1s, margin-left .5s; /* Safari */
    transition: margin-top .5s, margin-left .5s; 
}   

.skillsmodal{
    color: darkslategray;
    text-align: left;
    font-family: subcl;
    font-size: .8vw;
    position: fixed;
    margin-left: 1%;
    margin-top: 3%;
    -webkit-transition: margin-top .5s, margin-left .5s; /* Safari */
    transition: margin-top .5s, margin-left .5s;     
}    

#skillsttl{    color: red;}

#workhold{margin-top: 6.5%;}

.workgrid{width: calc(100%/10);
    background-color: gray;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid2{width: calc(100%/10);
    background-color:blue;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid3{width: calc(100%/10);
    background-color:lightblue;
    height: 6vw;
    float: left;
    cursor:pointer;}    

.workgrid4{width: calc(100%/10);
    background-color:darkgray;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid5{width: calc(100%/10);
    background-color:pink;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid6{width: calc(100%/10);
    background-color:red;
    height: 6vw;
    float: left;
    cursor:pointer;}     

.workgrid7{width: calc(100%/10);
    background-color:lightgreen;
    height: 6vw;
    float: left;
    cursor:pointer;}    

.workgrid8{width: calc(100%/10);
    background-color:lavender;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid9{width: calc(100%/10);
    background-color:slategray;
    height: 6vw;
    float: left;
    cursor:pointer;}

.workgrid10{width: calc(100%/10);
    background-color:yellow;
    height: 6vw;
    float: left;
    cursor:pointer;}                 


#galleryview{background-color: orange;
    height:34vw;
    width:100%;
    margin-top:6.5%;
display:none;}

.gallerybuttons{width: 1.25vw;
    margin-left: 5%;
    cursor: pointer;}
.gallerybuttonsB{width: 1.25vw;
    margin-left: 5%;
    cursor: pointer;}

.gallerybuttonsF{width: 1.25vw;
    margin-left: 5%;
    cursor: pointer;}

#gallerybuttonholder{    width: 6%;
    margin-left: 47%;
    position: fixed;
    bottom: 2%;}    