#logohold {

    margin-top: 0;
    width: 7%;
    position: fixed;
    margin-left: 1%;
    -webkit-transition: margin-top 1s, margin-left 1s;
    transition: margin-top 1s, margin-left 1s;

}

#logo1{
    width: 100%;
}

#title {
    width: 100%;
    font-family: subcl;
    font-size: 1vw;
    text-align: center;
    color: #FF2616;
    margin-top: 1%;
    display: inline;
}

#titleholder {width: 14%;
    display: inline-block;
    margin-left: 43%;
    margin-top: 10%;
    overflow: hidden;}

.iconlinks{    width: 25%;
    height: 1.75vw;
    margin-left: 5%;}