/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }



         

            /*body{background-color: gray
            }*/









a{ text-decoration: none}


/*_________________title______________*/
    #titleholder {
        position: fixed;
        left: calc(50%/6);
        bottom: 5%;
        overflow: hidden;
        -webkit-transition:
left .5s
transition:
left .5s
    }
        #titleholderA {
        position: fixed;
        left: .5%;
        bottom: 5%;
        overflow: hidden;-webkit-transition:left .5s;
transition: left .5s;
    }

    #title {
       
        width: 100%;
        font-family: arial;
        font-size: 1.35vw;
        text-align: center;
        color: black;
        margin-top: 1%;
        display: inline;
        line-height: 1.5vw;
    }

    #occup{color:#747474;}

/*________icons_______________________*/
    #logohold {
        width: 5.85vw;
        position: fixed;
        left: 32%;
        bottom: 4.25%;
        -webkit-transition: margin-top 1s, margin-left 1s, left.5s;
        transition: margin-top 1s, margin-left 1s, left.5s;}

        #logoholdA {
        width: 5.85vw;
        position: fixed;
        left: 24%;
        bottom: 4.25%;
        -webkit-transition: margin-top 1s, margin-left 1s, left.5s;
        transition: margin-top 1s, margin-left 1s, left.5s;}


    .iconlinks{
    font-family: subcl;
        width: 25%;
        height: 1.75vw;
        margin-left: 5%;
    cursor:pointer;}
/*___________skills modal_____________*/
    .skillsmodalA{
        margin-left: -30%;
        color: #747474;
        text-align: left;
        font-family: arial;
        font-size: .9vw;
        position: absolute;
        margin-top: 5%;
        background-color: rgba(255,255,255,.5);
        -webkit-transition: margin-top .5s, margin-left .5s;
        transition: margin-top .5s, margin-left .5s;
    }   

    .skillsmodal{
        color: #747474;
        text-align: left;
        font-family: arial;
        font-size: .9vw;
        position: absolute;
        margin-left: 1%;
        margin-top: 5%;
        background-color: rgba(255,255,255,.5);
        -webkit-transition: margin-top .5s, margin-left .5s;
        transition: margin-top .5s, margin-left .5s;}    

    #skillsttl{color:black;}
/*_____________Home grid of work______*/
    .workhold{margin-top: 3%;
    width:100%;
    -webkit-transition:
    margin-left .5s;
    transition:
    margin-left .5s;}

    .workholdA{margin-top: 3%;
    width:100%;
    margin-left: 5%;
    -webkit-transition:
    margin-left .5s;
    ransition:
    margin-left .5s;}


    .workgrid{
    font-size: 0.8vw;
        width: calc(100%/10);
        margin-left: calc(50%/6);
        margin-top: 5%;
        background-color: gray;
        height: 12vw;
        float: left;
        cursor: pointer;
        font-family: subcl;
        text-align: center;
    letter-spacing: .05vw;}

/*__________Work display modals_______*/

        .infopanel{/*background-color: blue;*/
        width: 17.5%;
        height: 17vw;
        display: none;
        position: fixed;
        margin-top: 15%;
            -webkit-transition: opacity .5s;
        transition: opacity .5s;
        padding:.5%;
        font-family: subcl;
        font-size: 1vw;}
        .infopanelA{/*background-color: blue;*/
        width: 17.5%;
        height: 17vw;
        display: none;
        position: fixed;
        margin-top: 15%;
        opacity: .1;
                -webkit-transition: opacity .5s;
        transition: opacity .5s;
        padding:.5%;
        font-family: subcl;
        font-size: 1vw;}

        .workactual{height: 47vw;
            display: none;
            width: 82.5%;
            background-color: red;
            float: right;}






